.link {
    stroke: #999;
    stroke-width: 2px;
    stroke-opacity: 0.5;
}
.node circle {
    stroke: black;
    stroke-width: 1px;
}
.node rect {
    stroke: black;
    stroke-width: 1px;
}
.topic {
    fill: lightgreen;
    width: 50px;
    height: 30px;
}
.agent {
    fill: lightblue;
    r: 20px;
}